<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	version="1.0">
	<persistence-unit name="university">
		<description>example of enabling the second level cache.</description>
		<jta-data-source>java:jboss/datasources/UniversityDS</jta-data-source>
		<properties>
			<property name="hibernate.hbm2ddl.auto" value="create" />
		</properties>
	</persistence-unit>
</persistence>
